body{
	padding-top: 70px;
}

.jumbotron{
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverese{
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}

.thumbnail img{
	/*min-height: 100px;*/
	height: 350px;
	width: 100%;
}